.wrap-menu {
    display: flex;
    align-items: center;
    gap: 0 4rem;
    background-color: var(--amarelo-claro);
}

.btnMenu {
    display: block;
    background-repeat: no-repeat;
    text-indent: -9999px;
    padding: 15px 25px;
    background-position: 15px center;

}

.btnMenu_open {
    background-image: url(../img/icons/menu-preto.svg);
}

.btnMenu_close {
    background-color: var(--azul-escuro);
    background-image: url(../img/icons/menu-branco.svg);
}