.corpo{
    display: flex;
    flex-direction: column;
}

.conteudo {

}

.conteudo-formulario {

}

.secoes-formulario {
    margin: 3vw;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.legenda {
    margin: 1vw 2vw;
}

.descricao-input-texto {
    margin-top: 2vw;
    padding: 0 2vw;
}

.input-texto {
    margin-bottom: 2vw;
    width: 20%;
}

.descricao-input-radio {
    margin: 2vw;
}

.input-radio {
    width: 5vw;
}