.secoes-formulario {
    margin: 3vw;
    display: block;
    flex-direction: row;
    align-items: baseline;
}

.legenda {
    margin: 1vw 2vw;
}

.descricao-input-texto {
    margin-top: 2vw;
    padding: 0 2vw;
}

.select {
    margin-bottom: 2vw;
    width: 30%;
}

.input-texto {
    margin-bottom: 2vw;
    width: 20%;
}

.descricao-input-radio {
    margin: 2vw;
}

.input-radio {
    width: 5vw;
}