body {
    background-color: var(--azul-escuro);
}
.secoes-formulario {
    color: var(--amarelo-claro);
    margin: 3vw;
    display: block;
    flex-direction: row;
    align-items: baseline;
}

.legenda {
    font-size: 20px;
    margin: 1vw 2vw;
}

.descricao-input-texto {
    font-size: 20px;
    margin-top: 2vw;
    padding: 0 2vw;
}

.select {
    background-color: var(--amarelo-claro);
    color:var(--azul-escuro);
    font-size: 20px;
    margin-bottom: 2vw;
    width: 30%;
}

.input-texto {
    font-size: 20px;
    background-color: var(--amarelo-claro);
    color:var(--azul-escuro);
    margin-bottom: 2vw;
    width: 25%;
}

.descricao-input-radio {
    font-size: 20px;
    margin: 2vw;
}

.input-radio {
    font-size: 20px;
    width: 5vw;
}

.submit {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 8rem;
    color: var(--azul-escuro);
    font-size: 20px;
    background-color: var(--amarelo-claro);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000000;
    border: none;
}