body {
    font-family: 'Teko', sans-serif;
    background: linear-gradient(#346180, var(--azul-escuro)) ;
}

.cabecalho {
    font-size: 1.25em;
    background-color: var(--amarelo-claro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 5vw;
}

.nav {
    display: flex;
    gap: 2vw;
}

.nav-item {
    color: var(--azul-escuro);
    text-shadow: 1px 1px 1px var(--verde-claro);
}
.nav-item:hover {
    color: var(--verde-claro);
    text-shadow: 1px 1px 1px var(--azul-escuro);
}

.div{
    display: flex;
    gap: 2vw;
    justify-content: end;
}

.titulo-cabecalho {
    color: var(--azul-escuro);
    text-shadow: 1px 1px 1px var(--verde-claro);
}

.logo-cabecalho {
    width: 5%;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.75vw;
    background-image: url(../img/contatores-medicoes.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: inherit;
}

.conteudo-principal-logo {
    width: 20vw;
    margin: 0 3vw;
}

.conteudo-principal-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.titulo {
    text-shadow: 1px 1px 2px black;
    font-weight: 700;
    font-size: 20vw;
    color: var(--amarelo-claro);
}

.descricao {
    font-size: 5vw;
    text-align: end;
    color: var(--amarelo-claro);
    text-shadow: 1px 1px 2px black;
}

.conteudo-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--amarelo-claro);
    text-align: center;
}

.explicacao {
    width: 70%;
    font-size: 2em;
    margin-top: 2vw;
    border-bottom: 1px solid var(--amarelo-claro);
}

.explicacao-div {
    margin: 2em 0;
    display: flex;
    justify-content: space-around;
}

.papelada {
    padding: 0 2vw;
    width: 40%;
}

.texto {
    text-align: left;
    margin: 1vw 3vw;
    width: 70%;
    font-size: 1.5em;
}

.contato {
    border-top: 1px solid var(--amarelo-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vw;
}

.titulo-contato {
    color: var(--amarelo-claro);
    font-size: 8vw;
    text-shadow: 1px 1px 2px black;
}

.box {
    display: flex;
}

.box-icons {
    position: relative;
    min-width: 40px;
    height: 40px;
    background-color: var(--amarelo-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 1vw;
    color: var(--azul-escuro);
    font-size: 1.15em;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.2),
    inset -3px -3px 5px rgba(0,0,0,0.5);
    transition: 0.3s;
}

.box-icons:hover {
    transform: scale(1.2);
    color:var(--amarelo-claro);
    background-color: var(--azul-escuro);
}

.rodape {
    background-color: var(--azul-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;    
}

.nome-rodape {
    color: var(--amarelo-claro);
}

.rodape-logo {
    display: block;
    margin: 0 auto;
    width: 2em;   
}

@media screen and (max-width: 768px) {
    .nav {
        gap: 4vw;
    }
    
    .logo-cabecalho {
        display: none;
    }
    
    .conteudo-principal {
        height: 40vh;
        align-items: center;
        background-size: 130%;
    }
    
    .descricao {
        display: none;
    }

    .explicacao {
        font-size: 8vw;
    }
    .papelada {
        display: none;
    }
}