body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--azul-escuro);
}

.container {
    position: relative;
    width: 350px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-escuro);
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
    10px 10px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    border-radius: 30px;
    padding: 50px;
}

.form {
    position: relative;
    width: 100%;
}

.titulo {
    color: #FFF;
    font-weight: 700;
    font-size: 2em;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.span {
    display: inline-block;
    color: #FFF;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75em;
    border-left: 4px solid #fff;
    padding-left: 4px;
    line-height: 1em;
}

.box {
    display: flex;
}

.icon {
    position: relative;
    min-width: 40px;
    height: 40px;
    background-color: var(--amarelo-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    color: var(--azul-escuro);
    font-size: 1.15em;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.2),
    inset -3px -3px 5px rgba(0,0,0,0.5);
}

.input {
    font-size: 1.2em;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(0,0,0,0.35),
    inset -3px -3px 5px rgba(0,0,0,0.5);
}

.submit {
    background-color: var(--verde-claro);
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.25),
    inset -3px -3px 5px rgba(0,0,0,0.5);
}

label {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85em;
    display: flex;
    align-items: center;
}

label input {
    margin-right: 5px;
}

.forgot {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85em;
}